html {
  line-height: normal !important;
}

.v-application {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
  overflow: auto;
}

.v-snackbar__content {
  padding: 0 !important;
}
