//== Brand Color
$yakka-primary-light: #ffffff;
$yakka-primary-100: #e3e4e7;
$yakka-primary-default: #2b52d9;
$yakka-primary-darker: #16163f;

$yakka-primary-yellow: #FFCC0A;
$yakka-primary-grey: #e3e4e74d;
