@use "variables";
@use "reset";
@use "mixins_responsive";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

@import "variables";

html,
body {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  font: {
    family: 'Roboto', sans-serif;
    size: 16px;
  };
  background: $yakka-primary-100;
}

input {
  border-radius: 30px;
}

.lg {
  font: {
    family: 'Space Grotesk', sans-serif;
    weight: 500;
    size: 2.15em;
  }
}

.md {
  font: {
    family: 'Space Grotesk', sans-serif;
    size: 29px;
    weight: 500;
  }
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.sm {
  font: {
    family: 'Space Grotesk', sans-serif;
    size: 20px;
    weight: 400;
  }
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.s-xxs {
  font: {
    size: 14px;
    weight: 400;
  }
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;

}

h2 {
  font: {
    size: 26px;
    weight: 700;
  }
  line-height: 36px;
  letter-spacing: 0;
  text-align: left;
}

h4 {
  font: {
    size: 20px;
    weight: 500;
  }
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.label {
  font: {
    size: 15px;
    weight: 700;
  }
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.descript {
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.text-small {
  font: {
    size: 14px;
    weight: 400;
  }
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;

}

.text-align-center {
  text-align: center;
}

